<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="submenu">
                <li>
                    <a class="btn btn-info" href="#projeto">O Projeto</a>
                </li>
                <li>
                    <a class="btn btn-info" href="#equipe">A Equipe</a>
                </li>
                <li>
                    <a class="btn btn-info" href="#contatos">Contato</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">

            <div class="col-md-6 mt-5 mb-5">
                
                    <h2 class="text-info">O Projeto</h2>
        
                    <p>Esse projeto tem como objetivo visar a melhoria de famílias necessitadas onde uma em cada três pessoas no mundo não tem acesso a água potável. Quase 35 milhões de pessoas no Brasil vivem sem água tratada e cerca de 100 milhões não têm acesso à coleta de esgoto, resultando em doenças que poderiam ser evitadas, e que podem levar à morte por contaminação. Com tudo isso e os investimentos atuais, só veremos o país chegar à universalização após 2050, com cerca de 20 anos de atraso. Ou seja, o setor precisa de um aporte robusto e constante de investimentos para se desenvolver e, dessa forma, beneficiar o país com mais saúde, preservação ambiental, desenvolvimento social e geração de empregos. <br>
                        Os dados de saneamento básico no Brasil são críticos e preocupantes, segundo estudos recentes do Instituto Trata Brasil. 16,38% da população brasileira ainda não tem acesso ao abastecimento de água. Contudo o objetivo da ODS 6  (Objetivo de desenvolvimento sustentável)  é garantir disponibilidade e manejo sustentável da água e saneamento para todos. Até 2030, alcançar o acesso universal e equitativo a água potável e segura para todos. <br>
                        Nosso intuito é justamente visa à venda de filtros de água para doação e de acessórios fabricados de forma sustentável. Cada filtro comprado por um(a) padrinho(a) será doado para famílias que não têm acesso à água de qualidade e o lucro arrecadado com a venda dos acessórios será revertido para a realização de obras de saneamento básico e doações de filtros. De forma a assegurar a disponibilidade e a gestão sustentável da água e saneamento para todos. A proteção de ecossistemas é uma das ações que podemos fazer para alcançar o objetivo.
                        
                    </p>
            </div>

            <div class="col-md-6  mt-5">
                <img src="https://i.imgur.com/2NtesXo.gif" alt="" weight="525px"
                    height="511px">
            </div>
    </div>

    
        <section #equipe>
            <h2 class="text-info">A Equipe</h2>
            <p>Nossa equipe busca atender demandas sociais urgentes.  Somando forças  para a sociedade que atua em causas importantes e urgentes, trabalhamos em prol das pessoas que precisam de ajuda.
                “É um movimento contínuo e participar dele é muito satisfatório, vale a pena fazer a diferença quando a gente soma forças!”
                 </p>


            <section class="card-columns">
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/FJwKLxl.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Aline Beltrão</h5>
                        <p class="card-text">Desenvolvedora Java FullStack</p>
                        <a href="https://github.com/alinebell" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="logo github">
                          </a>
                
                          <a href="https://www.linkedin.com/in/alinebeltrao/" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="logo linkedin">
                          </a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/FvtxhX6.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Nataly Carvalho</h5>
                        <p class="card-text">Desenvolvedora Full Stack, cursando técnico de Desenvolvimento de Sistemas.
                        </p>
                        <a href="https://github.com/Nataly-Carvalho" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="logo github">
                          </a>
                
                          <a href="https://www.linkedin.com/in/nataly-carvalho-6767bb222/" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="logo linkedin">
                          </a>
                    </div>
                </div>


                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/iFXEesz.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Fernanda Andrade</h5>
                        <p class="card-text">Desenvolvedora Full Stack</p>
                        <a href="https://github.com/andrade-fernanda" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="logo github">
                          </a>
                
                          <a href="https://www.linkedin.com/in/fernandavwandrade/" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="logo linkedin">
                          </a>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/2nd6tuK.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Victoria Farias</h5>
                        <p class="card-text">Desenvolvedora Full Stack e graduanda em Análise e Desenvolvimento de Sistemas.</p>
                        <a href="https://github.com/vicafz" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="logo github">
                          </a>
                
                          <a href="https://www.linkedin.com/in/victoriafariass/" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="logo linkedin">
                          </a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/0NAnJaU.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Jessika Neves</h5>
                        <p class="card-text">Desenvolvedora Full Stack e técnica em Manutenção e Suporte de Informática. 
                        </p>
                        <a href="https://github.com/jessikaneves" target="_blank" class="p-3">
                            <img  class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="logo github">
                          </a>
                
                          <a href="https://www.linkedin.com/in/j%C3%A9ssika-neves-334aab150/" target="_blank" class="p-3">
                            <img class="tm-social" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="logo linkedin">
                          </a>
                    </div>
                </div>

            </section>


            <div>
                <section #contatos class="mt-5 mb-5">
                    <h2>Contato</h2>

                    <div class="container">

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h3 class="text-center">
                                    Entre em contato conosco!
                                </h3>
                            </div>
                        </div>
                
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nome</label>
                                        <input type="name" class="form-control" id="exampleFormControlInput1"
                                            placeholder="nome sobrenome">
                                    </div>
                
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Endereço de email</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="nome@exemplo.com">
                                    </div>
                
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Digite sua mensagem:</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                
                                    <div class="form-group d-flex justify-content-center">
                                        <button class="btn btn-outline-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                
                            <div class="col-md-6">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1353082312467!2d-46.68338588502216!3d-23.563583384681895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce579d45a95e2d%3A0x4adfe9e697e8f835!2sR.%20C%C3%B4nego%20Eug%C3%AAnio%20Leite%2C%20623%20-%20Pinheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005414-011!5e0!3m2!1spt-BR!2sbr!4v1663169888185!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <!--/Formulario de contato-->
                    </div>

                </section>
            </div>